<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Together_Culture__Dream_Team_.Properties.Settings.db_TogetherCulture"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Development\Latest Clone\1\Together Culture (Dream Team)\Database\db_TogetherCulture.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
</configuration>